#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.countdown-progress {
  display: block;
  width: 100%;
  height: 5em;
}

.countdown-relative {
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.countdown-relative-sm {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.countdown-end {
  margin-top: 0;
  font-weight: lighter;
}

h2 {
  margin-bottom: 0;
}
